@page "/Test"
@using NeoBlazorphic.Components.Inputs.Buttons

@using DnDEntitiesBlazorComponents
@using DnDEntities.Characters

@inject NavigationManager Navigation
@inject ICharacterRepository Characters

<ButtonCard OnMouseClickCallBack="() => Clicked()"></ButtonCard>

<div> total characters: @Characters.Count </div>

@code
{
    private static int nextIndex = 0;

    private void Clicked()
    {
        Navigation.NavigateTo($"characters/edit/new");
    }
}
