@page "/Characters/Edit"
@using DnDEntitiesBlazorComponents.DnDEntities.AbilityScores
@using DnDEntitiesBlazorComponents.DnDEntities.Characters.Components
@using DnDEntitiesBlazorComponents.DnDEntities.DamageAffinities
@using DnDEntitiesBlazorComponents.DnDEntities.MartialAttacks
@using DnDEntitiesBlazorComponents.DnDEntities.MartialAttacks.Components
@using DnDEntitiesBlazorComponents.DnDEntities.Skills
@using MudBlazor
@using SharedComponents.Inputs.Buttons

@if (_character is not null)
{
    <div class="h-100 py-2 d-grid mud-paper-grid" style="grid-template-rows: 1fr auto;">
        <MudTabs Elevation=2 Rounded=true ApplyEffectsToContainer=true PanelClass="flex-fill-shrink" OnPreviewInteraction="OnPreviewInteraction" @bind-ActivePanelIndex="_tabActiveIndex" Class="h-100">
            <MudTabPanel Class="hw-100" Text="Basic infos">
                <div class="h-100 mud-paper-grid p-2" style="grid-template-rows: 1fr auto;">
                    <CharacterMainInfoEditorComponent 
                        @ref=_mainInfoComponent
                        Style="min-height: 0;"
                        Character=@_character />
                    <CancelSaveButtonRow 
                        Style="grid-row: 2"
                        SaveClicked=Save CancelClicked=Cancel />
                </div>
            </MudTabPanel>
            <MudTabPanel Class="hw-100" Text="Abilities & Skills">
                <div class="h-100 mud-paper-grid p-2" style="grid-template-columns: 1fr 1fr;grid-template-rows: 1fr auto;">
                    <AbilityScoresEditorComponent 
                        @ref=_abilityScoreComponent 
                        Style="grid-column: 1; min-height: 0"
                        Character=@_character OnChanged="StateHasChanged" />
                    <SkillsEditorComponent 
                        Style="grid-column: 2; min-height: 0;"
                        Character=@_character />
                    <CancelSaveButtonRow 
                        Style="grid-row: 2; grid-column: 1 / span 2;"
                        SaveClicked=Save CancelClicked=Cancel />
                </div>
            </MudTabPanel>
            <MudTabPanel Class="hw-100 test" Text=Resistances>
                <div class="h-100 mud-paper-grid p-2" style="grid-template-rows: 1fr auto;">
                    <ResistancesEditorComponent 
                        Style="min-height: 0;"
                        Character=@_character />
                    <CancelSaveButtonRow 
                        Style="grid-row: 2"
                        SaveClicked=Save CancelClicked=Cancel />
                </div>
            </MudTabPanel>
            <MudTabPanel Class="hw-100 test" Text=Attacks>
                <div class="h-100 mud-paper-grid p-2" style="grid-template-rows: 1fr auto;">
                    <AttackListEditorComponent 
                        Style="min-height: 0;"
                        Character=@_character />
                    <CancelSaveButtonRow 
                        Style="grid-row: 2"
                        SaveClicked=Save CancelClicked=Cancel />
                </div>
            </MudTabPanel>
        </MudTabs>
    </div>
}