.edit-character-actions {
    display: flex;
    margin: 10px;
}

.page-tabs {
    width: 120px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edit-character-action {
    width: 100px;
    margin: -5px;
    text-align: center;
}