.icon {
    font-size: 17px;
}

.add-button-container {
    display: flex;
    justify-content: right;
}

.status-input {
    margin: 1em 0;
}

.status-collection {
    width: 480px
}
