::deep .fighter-card {
    width: 400px;
}

::deep .fighter-card.active {
    outline: 2px solid var(--mud-palette-success-lighten);
    box-shadow: 0 0 12px var(--mud-palette-success-lighten);
}