.damage-input-container {
    /* required to counter the padding-left of damage-input */
    margin-left: -1em;
}

.damage-input {
    /* The only way I found to align the dropdown properly */
    padding-left: 1em;
}

/* The whole select button */
.select {
    display: flex;
    width: 200px;
    height: 100%;
}

/* The part of the select that display the currently selected element */
.selected-element {
    transition: all 0.3s ease-in-out;
}
.select:hover .selected-element {
    transform: translateY(-2px);
}

/* middle section that splits selected-element with select-arrow */
.select-padding {
    border-right: 1px solid var(--neo-light-main-color);
    margin-right: 13px;
    color: var(--text-color);
    flex-grow: 1;
}

/* The arrow that indicates the dropdown */
.select-arrow {
    transition: all 0.3s ease-in-out;
    align-items: center;
    display: flex;
}
.select-arrow.open {
    transform: rotate(180deg);
}

.select-popover {
    height: 300px;
    padding: 0.3em 1em 0.3em 1em;
}

.select-item {
    width: 200px;
}
