
.icon {
    font-size: 17px;
}

.add-button-container {
    display: flex;
    justify-content: right;
}

.damage-input {
/*    margin: 1em 0;*/
}

.damage-collection {
    width: 480px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

