@using DnDEntitiesBlazorComponents.DnDEntities.Dices.DiceThrows.Components
@using DnDFightTool.Domain.DnDEntities.Damage
@using SharedComponents.Inputs.Buttons

@if (DamageRollTemplateCollection != null)
{
    <div class="damage-collection">
        @foreach (var damageTemplate in DamageRollTemplateCollection)
        {
            <div class="damage-input">
                <DamageRollTemplateEditable Template="damageTemplate" Deleted="() => Remove(damageTemplate)" />
            </div>
        }
        <div class="add-button-container">
            <AddButton SizeInPx="45" OnClick="() => DamageRollTemplateCollection.Add(new DamageRollTemplate())" />
        </div>
    </div>
}