

.delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
}


.select-padding {
    border-right: 1px solid white;
    margin-right: 10px;
    margin-bottom: -5px;
    color: var(--text-color);
    flex-grow: 1;
}

.selected-element {
}

.select-arrow {
    transition: all 0.3s ease;
}

.select:hover .select-arrow {
    transform: translateY(-2px);
}

.select-popover-container {
    
    background: green;
    padding: 1em;
}

.select-popover {
    height: 300px;
    padding: 1em;
    margin: 1em;
    background: red;
    /*overflow: hidden;*/
    /*margin: 10px;*/
}

.select-item {
    padding: 5px;
    width: 200px;
}

.select-button {
    display: flex;
    width: 200px;
    height: 100%;
}