@using DnDEntitiesBlazorComponents.DnDEntities.Damage
@using DnDEntitiesBlazorComponents.DnDEntities.Dices.DiceThrows.Components
@using DnDEntitiesBlazorComponents.DnDEntities.Statuses
@using Morris.Blazor.Validation


<EditForm EditContext="_editContext">
    <Validate />

    @foreach(var attackTemplate in Character.MartialAttacks.Values)
    {
        <Card>
            <StringInput @bind-Value="@attackTemplate.Name" ValidationFor="() => attackTemplate.Name" />
            <div> @attackTemplate.Id </div>
            <ModifiersTemplateEditable @bind-Template="attackTemplate.Modifiers" />
            <DamageRollTemplateCollectionEditable DamageRollTemplateCollection="attackTemplate.Damages" />
            <div style="margin: 10px;">
                @foreach (var status in attackTemplate.Statuses.Values)
                {
                    <div sstyle="margin: 5px;">
                        <StatusTemplateEditable StatusTemplate="status" />
                        <ButtonCard Color="ThemeColor.Danger" OnMouseClickCallBack="() => RemoveStatusFromAttack(attackTemplate, status)"> Delete </ButtonCard>
                    </div>
                }
                <ButtonCard OnMouseClickCallBack="() => AddNewStatusInAttack(attackTemplate)" > Add new Status </ButtonCard>
            </div>
        </Card>
    }
</EditForm>