.attack-template-collection-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.attack-template-container {
    position: relative;
}

.attack-template-container.editing {
    min-height: 100%;
}

.attack-template-summary {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
}

.attack-template-name {
    font-size: 25px;
}

.attack-template-tags
{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.attack-template-tag {
    padding: 0 5px;
}

.add-template-button {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
