<ButtonCard Padding="Spacing._0" Color="ThemeColor.Primary" OnMouseClickCallBack="NotifyClick">
    <div class="add-button" style="width: @(SizeInPx)px; height: @(SizeInPx)px;">
        <i class="icon fa-regular fa-plus"></i>
    </div>
</ButtonCard>