@using MudBlazor

@inherits StylableComponentBase

<div class="d-grid mud-paper-grid @Class" style=@Style>
    <MudButton Class="w-100 parent-hover-trigger click-translate" Variant=Variant.Filled Color=Color.Error OnClick="Cancel">
        <div class="parent-hover-jump">
            <MudIcon Class="parent-hover-rotate-90 large-icon" Icon=@Icons.Material.Filled.Cancel />
        </div>
    </MudButton>
    <MudButton Style="grid-column: 2" Class="w-100 parent-hover-trigger click-translate" Variant=Variant.Filled Color=Color.Success OnClick="Save">
        <div class="parent-hover-jump">
            <MudIcon Class="large-icon" Icon=@Icons.Material.Filled.Save />
        </div>
    </MudButton>
</div>