@using MudBlazor

@inherits StylableComponentBase

<div class="f-row gap-2 justify-content-end @Class" style=@("" + Style)>
    <MudButton 
        Class="parent-hover-trigger click-translate" Style="width: 12em;"
        Variant=Variant.Filled Color=Color.Default 
        OnClick="Cancel">
        <div class="parent-hover-jump">
            <MudIcon Class="parent-hover-rotate-90" Size=Size.Large Icon=@Icons.Material.Filled.Cancel />
        </div>
    </MudButton>
    <MudButton 
        Class="parent-hover-trigger click-translate" Style="grid-column: 2; width: 12em;" 
        Variant=Variant.Filled Color=Color.Success 
        OnClick="Save">
        <div class="parent-hover-jump">
            <MudIcon Size=Size.Large Icon=@Icons.Material.Filled.Save />
        </div>
    </MudButton>
</div>