<ButtonCard Padding="Spacing._0" Color="ThemeColor.Danger" OnMouseClickCallBack="NotifyClick">
    <div class="delete-button" style="width: @(SizeInPx)px; height: @(SizeInPx)px;">
        <i class="icon fa-regular fa-trash-can"></i>
    </div>
</ButtonCard>