
@using SharedComponents.Modals.Common
@using SharedComponents.Modals.Templates

<ModalBase>
    <ModalActions>
        <ModalCloseButton OnMouseClickCallBack="Cancel" />
    </ModalActions>
    <ModalHeader>
        <div style="font-size: 15px;">
            @Title
        </div>
    </ModalHeader>
    <ModalBody>
        @Message
    </ModalBody>
    <ModalFooter>
        <ButtonCard OnMouseClickCallBack="Cancel">
            <div style="width: 90px; text-align: center">
                No
            </div>
        </ButtonCard>
        <ButtonCard OnMouseClickCallBack="Close">
            <div style="width: 90px; text-align: center">
                Yes
            </div>
        </ButtonCard>
    </ModalFooter>
</ModalBase>
