@inherits LayoutComponentBase

@using Blazored.Toast

<div style="background: var(--base-main-color)">
    <BlazoredToasts ShowProgressBar="true"/>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main >
            <div class="p-3" style="padding-top: 0; padding-bottom: 0; height: 100%">
                @Body
            </div>
        </main>
    </div>
</div>