@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="neo-gray" style="background: var(--base-main-color)">
        <div class="p-3">
            @Body
        </div>
    </main>
</div>
