@inherits LayoutComponentBase

@using Blazored.Toast

<div style="background: var(--base-main-color)">
    <BlazoredToasts ShowProgressBar="true"/>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main style="border: 2px solid var(--base-light-color); height: 100vh">
            <div class="" style="height: 100%" >
                @Body
            </div>
        </main>
    </div>
</div>