@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="neo-gray" style="background: var(--base-main-color)">
        <div class="p-3" style="padding-top: 0; padding-bottom: 0; height: 100%">
            @Body
        </div>
    </main>
</div>
