.ability-header {
    backdrop-filter: brightness(80%);
}
th:first-child {
    text-align: left;
}

th:not(:first-child) {
    width: 100px;
}

.ability-row {
    padding: 10px;
}
.ability-row:hover {
    background: var(--primary-main-color);
}
.ability-row:nth-of-type(2n+1) {
    backdrop-filter: brightness(90%);
}
.ability-row:nth-of-type(2n) {
    backdrop-filter: brightness(115%);
}
td:not(:first-child) {
    text-align: -webkit-center;
}

td, th {
    padding: 7px;
}

tr:not(:first-child) {
    border-top: 2px solid var(--base-dark-color);
}
tr:not(:last-child) {
    border-bottom: 2px solid var(--base-dark-color);
}
