@page "/Fight"

<div class="fight-ui">
    <div class="character-tile-list">
        @foreach (var fighter in FightContext)
        {
            <FightingCharacterTile Fighter="@fighter" />
        }
    </div>
    @if (MovingCharacter != null)
    {
        <div class="character-actions">
            <div> actions of @MovingCharacter.Name </div>
            <ButtonCard OnMouseClickCallBack="Attack"> Attack </ButtonCard>
        </div>

    }
</div>