@page "/Fight"

<div class="fight-ui">
    <div class="character-tile-list">
        @foreach (var fighter in FightContext.GetFighters())
        {
            <FightingCharacterTile Fighter="@fighter" />
        }
    </div>
    @if (_movingCharacter != null)
    {
        <div class="character-actions">
            <div> actions of @_movingCharacter.Name </div>
            <ButtonCard OnMouseClickCallBack="Attack"> Attack </ButtonCard>
        </div>

    }

    <MenuBlade Position="ElementRelativePosition.Bottom">
        <Card>
            <div>
                <!-- TODO This should be changed with a disabled state on the buttons -->
                @if (CanUndo)
                {
                    <ButtonCard OnMouseClickCallBack="Undo" >
                        <div>
                            Undo
                        </div>
                    </ButtonCard>
                }
                @if (CanRedo)
                {
                    <ButtonCard OnMouseClickCallBack="Redo">
                        <div>
                            Redo
                        </div>
                    </ButtonCard>
                }
            </div>
        </Card>
    </MenuBlade>
</div>