.character-tile-wrap {
    min-height: 100px;
    min-width: 200px;
    max-height: 200px;
    max-width: 250px;
}

.character-tile {
    display: grid;
    grid-template-rows: auto 1fr;

}

.character-tile-header {
    grid-row: 1;
}

.character-tile-hps {
    grid-row: 2;
}