<ButtonCard Padding="Spacing._0" Color="@_themeColor" OnMouseClickCallBack="NotifyClick" IsEnabled="IsEnabled">
    <div class="circular-action-button" style="width: @(SizeInPx)px; height: @(SizeInPx)px;">
        <i class="icon @_buttonIcon"></i>
    </div>
</ButtonCard>