@page "/"
@page "/characters"
@using DnDEntitiesBlazorComponents.DnDEntities.AbilityScores
@using DnDEntitiesBlazorComponents.DnDEntities.DamageAffinities
@using DnDEntitiesBlazorComponents.DnDEntities.Skills
@using DnDFightTool.Domain.DnDEntities.Characters
@using MudBlazor
@using DnDEntitiesBlazorComponents.DnDEntities.Characters.Components

<div class="h-100 py-2">
    <MudTabs Elevation=2 Rounded=true ApplyEffectsToContainer=true PanelClass="flex-fill-shrink" OnPreviewInteraction="OnPreviewInteraction" @bind-ActivePanelIndex="_activeIndex" Class="h-100">
        <MudTabPanel Text="Basic infos">
            <MudGrid Class="h-100">
                <MudItem xs=12 Class="h-100">
                    <CharacterMainInfoEditorComponent @ref=_mainInfoComponent Character=@_character />
                </MudItem>
            </MudGrid>
        </MudTabPanel>
        <MudTabPanel Text="Abilities & Skills">
            <MudGrid Class="h-100">
                <MudItem xs=6 Class="h-100">
                    <AbilityScoresEditorComponent @ref=_abilityScoreComponent Character=@_character OnChanged="StateHasChanged"/>
                </MudItem>
                <MudItem xs=6 Class="h-100">
                    <SkillsEditorComponent Character=@_character />
                </MudItem>
            </MudGrid>
        </MudTabPanel>
        <MudTabPanel Text=Resistances>
            <MudGrid Class="h-100">
                <MudItem xs=12 Class="h-100">
                    <ResistancesEditorComponent Character=@_character />
                </MudItem>
            </MudGrid>
        </MudTabPanel>
    </MudTabs>
</div>