.skill-header {
    backdrop-filter: brightness(80%);
}
th:first-child, th:last-child {
    text-align: left;
}

.skill-row {
    padding: 10px;
}
.skill-row:hover {
    background: var(--primary-main-color);
}
.skill-row:nth-of-type(2n+1) {
    backdrop-filter: brightness(90%);
}
.skill-row:nth-of-type(2n) {
    backdrop-filter: brightness(115%);
}
td:nth-of-type(2), td:nth-of-type(3) {
    text-align: -webkit-center;
}

td, th {
    padding: 7px;
}

tr:not(:first-child) {
    border-top: 2px solid var(--base-dark-color);
}
tr:not(:last-child) {
    border-bottom: 2px solid var(--base-dark-color);
}
