
.characteristic-row {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    margin-bottom: 1em;
}

.characteristic-field {
    align-self: center;
    max-width: 150px;
}

.characteristic-modifier {
    min-width: 48px;
    max-width: 48px;
    min-height: 48px;
    max-height: 48px;
    margin-left: 13px;
    text-align: center;
}
