@using System.ComponentModel.DataAnnotations
@using System.Security.Cryptography.X509Certificates
@using Characters.AbilityScores
@using Characters.AbilityScores.Validation
@using NeoBlazorphic.StyleParameters
@using PeterLeslieMorris.Blazor.Validation
@using DnDBlazorComponents.Characteristics.AbilityScores

<h1>
    Character Sheet
</h1>

<EditForm Model="_model">
    <Validate />
    @*<DataAnnotationsValidator />*@

    <div class="character-sheet">
        <div class="character-sheet-header">
        
            <h1> HEADER </h1>

        </div>
        <div class="character-sheet-body">
            
                <AbilityScoresEditableList Model="_model.AbilityScoresCollection"></AbilityScoresEditableList>

            <h1> BODY </h1>

            <button type="submit">Save</button>

        </div>
    </div>

</EditForm>

@code
{
    public CharacterDummy _model = new CharacterDummy();

    public class CharacterDummyValidator : AbstractValidator<CharacterDummy>
    {
        public CharacterDummyValidator()
        {
            RuleFor(x => x.AbilityScoresCollection).SetValidator(new AbilityScoresValidator());
            RuleFor(x => x.Walue).InclusiveBetween(1, 30);

        }

    }
   
    public class CharacterDummy
    {
        public AbilityScoresCollection AbilityScoresCollection { get; set; } = new AbilityScoresCollection();

        public int Walue { get; set; } = 13;

    }
}
